<section class="container container-fluid">
  <h2 class="title">{{ trimmedFullName }}'s Summary</h2>

  <div class="detail-info">
    <p><strong>Full Name:</strong> {{ trimmedFullName }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Reference Code:</strong> {{ refCode }}</p>
    <p><strong>Automobile Maker:</strong> {{ selectedMaker }}</p>
    <p><strong>Model:</strong> {{ selectedModel }}</p>
    <p><strong>Selected Condition:</strong></p>
    <ul>
      <li *ngFor="let condition of selectedConditionsString.split(', ')">{{ condition }}</li>
    </ul>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary mt-5 me-2" (click)="onPrintPage()">Print</button>
    <button type="submit" class="btn btn-primary mt-5" (click)="onSubmit()">Submit</button>
  </div>
</section>
